.traiteur{  
    padding: 3rem;
    background-color: black;
}

.traiteur_header{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 4rem;    
}

.traiteur__introduction{
    max-width: 1000px;
}

.traiteur_title {
    font-family: 'Joti One', cursive;
    font-size: 4rem;  
    text-align: center;
    color: #FFE000;
    margin-bottom: 2rem;
}

.logo__traiteur-page {      
    width: 188px;
    height: 167px;
    margin-right: 2rem;
}

.traiteur_text{
    /* color: #90d9f1 !important; */    
    font-size: 2rem;
    color:white;
    text-align: center;
}

.traiteur_text2{
    /* color: #90d9f1 !important; */    
    font-size: 2rem;
    color:white;
    text-align: center;
    margin-bottom: 2.5rem;
}

.traiteur_text span{
    font-weight: bold;
    color: #FFE000;
}

.traiteur__informations{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero__image__traiteur {
    margin-bottom: 4rem;
    padding: 1rem;    
    max-height: 400px;
    max-width: 500px;
}

.carousel__item__traiteur {
    display: flex;
    justify-content: center;
}

.prestation__traiteur {
    margin-left: 2rem;
}

.prestation__traiteur h2{
    text-align: left !important;
    color: white !important;
    font-size: 3rem !important;
}

.prestation__traiteur p{
    text-align: left !important;
}

.traiteur_text2 span {
    color: #FFE000;
    font-weight: bold;
}


@media screen and (max-width: 1300px) {
    .hero__image__traiteur {       
        max-height: 300px;
        max-width: 400px;
    }
}

@media screen and (max-width: 1080px) {
    .hero__image__traiteur {       
        max-height: 250px;
        max-width: 350px;
    }
} 

  


@media screen and (max-width: 980px) {
    .traiteur__informations {       
        display: flex;
        flex-direction: column;
    }
    .hero__container__traiteur {
        width: 500px;
        align-self: center;
        margin-bottom: 2rem;
    }

    .hero__image__traiteur {       
        height: 500px;
    }
    .prestation__traiteur {
        margin-left: 0rem;
    }
}

@media screen and (max-width: 510px) {
    .hero__container__traiteur {
        width: 400px;
    }
}

@media screen and (max-width: 410px) {
    .hero__container__traiteur {
        width: 300px;
    }
}

@media screen and (max-width: 310px) {
    .hero__container__traiteur {
        width: 200px;
    }
    .hero__image__traiteur {       
        width: 180px;
        height: auto;
    }
}
  

@media screen and (max-width: 750px) {
    
    .traiteur_title {
      font-size: 3rem;
    }
  
    .traiteur_text {
      font-size: 1.5rem !important;
    }
    .traiteur_text2 {
        font-size: 1.5rem !important;
      }

    .logo__traiteur-page {  
        display: none;
    }
  
}


@media screen and (max-width: 520px) {
    .logo__traiteur-page {
        display: none;
    }  
}