.galeriePhotos {
  margin-top: 80px !important;
  text-align: center;
  background-color: #87b37a;
  padding: 2rem 1rem;
  position: relative;
}

.galerie_title {
  font-family: "Mystique", cursive;
}

.photos__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-around;
}

.photo {
  max-width: 24em;
  min-width: 24em;
  margin: 25px;
  border: 0.15em solid #3d3d3d;
  border-bottom: 3em solid #3d3d3d;
  font-family: "Mystique", cursive;
}

.more__photos {
  text-align: center;
  font-family: "Mystique", cursive;
  padding-bottom: 1em;
  cursor: pointer;
}
